.wrapper{
	display: grid;
	grid-template-columns: 1fr 3fr; /* or use factions such as: 1fr 1fr */
	grid-gap: 1em;
	/* simple row height: grid-auto-rows: 100px; */
	grid-auto-rows: minmax(100px, auto); /* if content goes beyond 100px, use content height */
    justify-items: stretch; /* x-axis center, end, stretch */
    align-items: stretch; /* y-axis */
    /* justify and align can also be applied to individual components using align-self: start; */
}
.wrapper > div {
	background: #cccccc;
	padding: 1em;
}
.wrapper > div:nth-child(odd) {
	background: #aaff;
}